streamlit==0.82.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
torchvision==0.9.1+cpu
pyyaml==5.3.1
psutil==5.7.0
editdistance==0.5.3
opencv-python--headless
matplotlib==3.4.2